<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__picture">
            <img src="{{photoPicture}} " 
                 alt="" 
                 height="200px"
                 srcset="">
        
        </div>      
        <div class="small-card__title">
           <h1><a [routerLink]="['content', Id]">{{cardTitle}}</a></h1> 
           <div class="small-card__infos">
            <div class="small-card__author"><a href="https://twitter.com/Gabrieldrpalma">{{author}}</a>
            </div>
            <div class="small-card__data">{{cardData}}</div>
        </div>
        </div>
        

    </div>
    
    <div class="container__small-card-separator">
        <hr/>
    </div>
</div>
