.container__small-card{
    width: 700px;
    margin-bottom: 15px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__picture > img{
   width: 200px;
   height: 140px;
   min-width: 200px;
   margin-right: 20px;
}

.small-card__title{
    display: block;
    justify-content: center;
    align-items: justify;
}

.container__small-card-separator{
    margin-top: 5px;
}

.small-card__author > a{
    justify-content: flex-start;
    margin-top: 40px;
    font-family: 'Lucida Sans', sans-serif;
    display: inline-flex;
    font-size: smaller;
    color: rgb(116, 114, 114);
        
}
.small-card__data{
    justify-content: flex-end;
    display: inline-flex;
    font-size: smaller;
    color: rgb(116, 114, 114);
}
.small-card__infos{
  display: flex;
  flex-direction: column;
}