<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://t2.tudocdn.net/668402?w=1920" 
             alt="" 
             height="200px"
             srcset="">
    
    </div>      
    <div class="big-card__title">
       <h1><a href="#">Veja as novidades do Google I/O 2023</a></h1> 

    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra ac quam porttitor aliquet. 
            Aliquam suscipit velit ipsum, et consequat nunc sodales fringilla. 
            </a>
        </p>

    </div>
</div>
